

<head>
<title>Page Title</title>
</head>
<body>
  <h1 id="myHeader">Warehouse Manage System</h1>
</body>
<mat-card>
    <form >
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username"  [(ngModel)]="data.Username"
          required name="Username" #Username >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type ="password" matInput placeholder="password"   [(ngModel)]="data.password" 
          required name="password" #password>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary"  (click)="LoginSubmit()">login</button>
</mat-card>


