<p align="center">
  <img src="https://www.picz.in.th/images/2018/09/06/fUmgcu.png" alt="fUmgcu.png" border="0" />
</p>

<h2 align="center">Welcome To Khong Kao Shop</h2>
<h2 align="center">ร้านของเก่าช็อป ยินดีต้อนรับ</h2>

<mat-card>

  <div class="button-row" align="center">

    <mat-card-actions>

      <a mat-stroked-button routerLink="/home"><mat-icon>home</mat-icon>ไปหน้าหลัก</a>

      <a mat-stroked-button routerLink="/">ซื้อของเก่า</a>

      <a mat-stroked-button routerLink="/">ขายของเก่า</a>

      <a mat-stroked-button routerLink="/">เสนอขายของเก่า</a>

      <a mat-stroked-button routerLink="/delivery">รายการจัดส่ง</a>

      <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

      <a mat-stroked-button routerLink="/loginwarehouse">จัดการคลังสินค้า</a>

      <a mat-stroked-button routerLink="/loginuser">ออกจากระบบ</a>

    </mat-card-actions>

  </div>

</mat-card>
&nbsp;

<h1 align="center">Delivery Management</h1>


&nbsp;
<mat-card class="payment-card">
  
<mat-card>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Order ID" value="15454">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Track ID" value="EMS5556789TH" ></textarea>
  </mat-form-field>
</form>

<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="ชื่อ-นามสกุล">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Address" value = "591 อาคารดิออร์เร้น อพาร์ตเม้น ห้อง 217 ชั้น 2 หมู่บ้านหนองบง หมู่ 5 ต.สุรนารี, อ.เมืองนครราชสีมา, นครราชสีมา 30000 Thailand"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Delivery status">
      <mat-option value="option">ยังไม่ได้จัดส่ง</mat-option>
      <mat-option value="option">กำลังจัดส่ง</mat-option>
    </mat-select>
  </mat-form-field>
</div>



  <mat-card-actions>
    <div class="button-address" align="center">
      <a mat-stroked-button routerLink="/home">ยืนยัน</a>
      &nbsp;
    </div>
  </mat-card-actions>
</mat-card>
&nbsp;

</mat-card>