<p align="center">
  <img src="https://www.picz.in.th/images/2018/09/06/fUmgcu.png" alt="fUmgcu.png" border="0" />
</p>

<h2 align="center">Welcome To Khong Kao Shop</h2>
<h2 align="center">ร้านของเก่าช็อป ยินดีต้อนรับ</h2>



&nbsp;
<mat-card class="login-card">
  <h1 align="center">Login</h1>

<form class="example-form">
<mat-card>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID" value="15454">
  </mat-form-field>

   <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" value="15454">
  </mat-form-field>
</mat-card>
  
</form>

<div class="example-container">


</div>


  <mat-card-actions>
    <div class="button-address" align="center">
      <a mat-stroked-button routerLink="/home">ยืนยัน</a>
      &nbsp;
    </div>
  </mat-card-actions>
</mat-card>
&nbsp;

